<header class="container">
<!--  <app-html-element-label label="header"/>-->

  <div>
    <app-html-element-label label="h1"/>

    <!-- Header tittle-->
    <h1>
      <span>Hi,</span>
      <span>I'm <span class="text-primary-200">R</span>oberto</span>
      <span>Front-End developer</span>
    </h1>

    <app-html-element-label label="/h1"/>
  </div>

  <!-- Header Paragraph-->
  <div>
    <app-html-element-label label="p"/>

    <p>Front End Developer / Angular advanced</p>

    <app-html-element-label label="/p"/>
  </div>

  <!--Contact button-->
  <button
    (click)="handleContactMe()"
    class="button-outlined">Contact Me</button>

<!--  <app-html-element-label label="/header"/>-->
</header>
