.html-element-label {
  display: inline-block;
  color: var(--neutral);
  font-weight: 100;
  line-height: 1.2;
}

// Indented
.indented {
  margin-left: 1rem;
}

@media (max-width: 1024px) {
  .indented {
    margin-left: 0.6rem;
  }
}

@media (max-width: 640px) {
  .indented {
    margin-left: 0.3rem;
  }
}
