@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'assets/styles/typography';
@import 'assets/styles/colors';
@import 'assets/styles/utilities';
@import 'assets/styles/buttons';
@import 'assets/styles/links';
@import 'assets/styles/animations';

html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Ubuntu Mono", monospace;
  background-color: rgb(15, 15, 15);
  color: var(--white);
}

input, textarea {
  background-color: var(--black-opacity);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

input::placeholder, textarea::placeholder {
  color: var(--neutral);
}

.divider {
  height: 0.5px;
  width: 100%;
  background-color: var(--neutral);
}



