.button-outlined, .button-primary {
  font-weight: 600;
  letter-spacing: 0.1rem;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-200);
  cursor: pointer;
}

// Button Outlined
.button-outlined {
  z-index: 1;
  position: relative;
  background-color: transparent;
  color: var(--primary-200);
  overflow: hidden;
  transition: color 400ms ease;
}

.button-outlined:hover {
  color: var(--black);
}

.button-outlined::before,
.button-outlined::after {
  content: '';
  z-index: -1;
  position: absolute;
  background-color: var(--primary-200);
  width: 100%;
  height: 100%;
  top: 0;
}

.button-outlined::before {
  right: 100%;
  transition: right 400ms ease;
}

.button-outlined::after {
  left: 100%;
  transition: left 400ms ease;
}

.button-outlined:hover::before {
  right: 50%;
}

.button-outlined:hover::after {
  left: 50%;
}

// Primary button
.button-primary {
  background-color: var(--primary-200);
  transition: background-color 400ms ease;
  color: var(--black);
}

.button-primary:hover {
  background-color: var(--primary-100);
}


.button-sm {
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

